<h1>Editing User</h1>

<%= render 'form' %>

<div class="container">
    <%= link_to 'Show', @user, :class => 'btn btn-warning' %> 
    <%= link_to 'Back', users_path , :class => 'btn btn-success'%>
</div>