<!DOCKTYPE HTML>
<html>
    <head>
        <title>
            Conestoga Pizzeria
        </title>
        
      
      
    </head>
    
    <body>
        <div class="container">
              <div id="last"  class="container">
                    <div id="Login_LogOut_Div">
                        <% if user_signed_in? %>
                            <%= link_to "Logout", destroy_user_session_path, :class => 'btn btn-warning', :method => :delete %>
                        <% end %>
                        <% if !user_signed_in? %>
                            <%= link_to "Login", new_user_session_path(@user), :class => 'btn btn-warning' %>
                        <% end %>
                    </div>
                <h2 id="home_heading">Eat Fresh and Healthy food</h2>
            </div>
        </div>
    </body>
</html>