<!DOCKTYPE HTML>
<html>
    <head>
        <title>
            Conestoga Pizzeria
        </title>
        
      
      
    </head>
    
    <body>
        <div class="container">
              <div id="last"  class="container">
             <h2 id="home_heading">Eat Fresh and Healthy food</h2>
            </div>
        </div>
    </body>
</html>