/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#heading
{
    background-color: black;
    opacity: 0.8;
    color: white;
}

#last
{
    width: 100%;
    background-color: white;
    opacity: 0.8;
}
/*
h2
{
    text-align: center; 
    font-family: cursive;
    color: darkcyan;
    
}*/

h1
{
    font-family: inherit;
    font-style: italic;
    color: crimson;
    margin-left: 25%;
}

body
{
    /*background-image: url("backgroung.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    /*font-family: cursive;*/
}

#order_button
{
    margin-top: 2%;
    margin-left: 87%;
}

#submitButton
{
    margin-left: 87%;
}

#gofororderbutton
{
    margin-left: 81%;
}

#icon
{
    float: left;
    height: 15%;
    width: 20%;
}

h4
{
    font-family: cursive;
}


#orderSummary_address_info
{
    font-size: 23px;
    font-family: monospace;
    color: crimson;
}

#pizza_div
{
    float : left; 
    WIDTH:48%;
}

#size_div
{
    float : left; 
    width:48%; 
    margin-right:10px;
}

#crust_div
{
    float : left; 
    width:48%; 
    height:223px; 
    margin-bottom : 50px; 
    margin-left: 10px;
}

#nonveg_toppings_div
{
    WIDTH:48%; 
    height:288px; 
    float : left; 
}

#vegtopping_div
{
    float : right; 
    WIDTH:48%;
}

#Order_recipt_Button
{
     float:right; 
     margin-right:10px;
}

#Address_div
{
     float : right; 
     width:48%; 
     height:551px;
}

#back_button
{
    margin-top:90px; 
    margin-left:10px; 
    float : left;
}

#create_order
{
    margin-top:90px; margin-right:10px;  float : right;
}

#new_order_id
{
    float: right;
    margin-right: 10px;
}

#Login_LogOut_Div
{
    margin-top: 10%;
    margin-right: 10px; 
    float: right;
}

#home_heading
{
    margin-top: 50px;
    font-family: cursive;
    color: darkcyan;
    text-align: center;
    font-size: 45px;
    
}

#buttons
{
    float:right;
    margin-right: 200px;
}

#login_hide
{
    margin-left: 850px;
}

#edit_user
{
    width: 50%;
    
}

#sign_up_div
{
    width: 50%;
}

#sign_up
{
    text-align: center;
    font-family: serif;
    font-style: oblique;
    color: blue;
    margin-bottom: 20px;
}

#login_id
{
    margin-left: 30%;
    margin-top: 10%;
}


#Order_recipt
{
    width:50%;
}

#Order_recipt_pannel
{
    height:450px;

}

#User_info_pannel
{
    height: 350;
    width: 50%;
}